<h1 class="text-center my-5">User register</h1>

<div class="row justify-content-center">
    <div class="col-md-6">
        <form action="/auth/register" method="post" novalidate>
            <input 
            type="text" 
            name="userName" 
            class="form-control mb-2" 
            placeholder="Insert Name"
            >
            <input 
            type="text" 
            name="email" 
            class="form-control mb-2"
            placeholder="Insert Email"
            >
            <input 
            type="password" 
            name="repassword" 
            class="form-control mb-2" 
            placeholder="Repeat Password"
            >
            <button type="submit" class="btn btn-primary">Register</button>
        </form>

    </div>
</div>
