<h1>User register</h1>

<form action="/auth/register" method="post" novalidate>
    <input 
    type="text" 
    name="userName" 
    class="form-control mb-2" 
    placeholder="Insert Name"
    >
    <input 
    type="text" 
    name="email" 
    class="form-control mb-2"
    placeholder="Insert Email"
    >
    <input 
    type="password" 
    name="password" 
    class="form-control mb-2" 
    placeholder="Insert Password"
    >
</form>